<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="options()" expand="block" fill="clear" shape="round">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ver-foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <div class="card_img">
              <img src={{foto}}>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
