<ion-header>
  <ion-toolbar>
    <ion-title align="center" color="primary">Todas as Fotos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertConfirm()">
        <ion-icon color="danger" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="container">
    <div class="row">
      <div class="card_img" *ngFor="let image of foto">
        <img src={{image.url_image}}>
      </div>
    </div>
  </div> -->
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2" *ngFor="let image of foto">
          <ion-card (click)="verFoto(image.name_image)">  
            <div class="card_img">
              <img src={{image.url_image}}>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="inputFileChange($event)">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </ion-toolbar>
</ion-footer>

